<header class="p-4">
  <nav class="container mx-auto flex justify-between items-center">
    <a routerLink="/" class="text-2xl font-bold cursor-pointer"
      >Tienda para certificación mercado pago</a
    >
    <ul class="flex space-x-4">
      <li>
        <a routerLink="/products" class="hover:text-gray-300 cursor-pointer"
          >Productos</a
        >
      </li>
      <li>
        <a routerLink="/cart" class="hover:text-gray-300 cursor-pointer"
          >Carrito</a
        >
      </li>
    </ul>
  </nav>
</header>
